<div class="setting">
  <section>
    <b-message title="待設計" type="is-danger" has-icon aria-close-label="Close message">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id
      hendrerit imperdiet, elit sapien laoreet elit
    </b-message>

    <b-message title="待設計" type="is-success" has-icon aria-close-label="Close message">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id
      hendrerit imperdiet, elit sapien laoreet elit
    </b-message>

    <b-message title="待設計" type="is-info" has-icon aria-close-label="Close message">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id
      hendrerit imperdiet, elit sapien laoreet elit
    </b-message>
  </section>
</div>