<div class="login">
  <section class="titleSection">
    <div>
      <p>Bike Management Web</p>
    </div>
  </section>
  <section class="loginSection">
    <b-field label="ACCOUNT">
      <b-input v-model="UserName"></b-input>
    </b-field>
    <b-field label="PASSWORD">
      <b-input type="password" value="iwantmytreasure" v-model="Pwd" @keyup.native.enter="getin" password-reveal>
      </b-input>
    </b-field>
    <div class="login-btn" @click>
      <b-button type="is-warning" outlined rounded @click="getin">LOG IN</b-button>
      <b-loading v-model="isLoading" :can-cancel="true"></b-loading>
    </div>
    <div class="test-msg">
      <b-message title="測試帳號" type="is-success" aria-close-label="Close message">
        <p>測試帳號：test</p>
        <p>測試密碼：test123</p>
      </b-message>
    </div>
  </section>
</div>