<div class="search-purchase" style="padding:30px">
  <b-tabs v-model="activeTab">
    <b-tab-item label="查詢採購" icon="search">
      <div style="padding-bottom:10px ;">
        <b-field grouped>
          <b-field>
            <b-button type="is-danger" icon-left="fa-trash-can" :disabled="!selected" @click="changeStatus">修改狀態
            </b-button>
          </b-field>
        </b-field>
      </div>
      <div>
        <DataTable :dataList="dataList" :columnList="columnList" :selected.sync="selected" :isLoading="isLoading"
          :perPage="perPage">
        </DataTable>
      </div>
    </b-tab-item>
    <b-tab-item label="未設定" icon="search" :class="{'selectedTab':activeTab}">
    </b-tab-item>
  </b-tabs>
</div>